@model IEnumerable<MLTO.Models.AlgorithmListItem>

@{
    ViewBag.Title = "Index";
}

<h2 align="center">Learning Algorithms I'm Studying</h2>

<p align="center">
    @Html.ActionLink("Add New Learning Algorithm to List", "Create")
</p>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AlgorithmId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LearningAlgorithm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MasteryLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AlgorithmId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LearningAlgorithm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MasteryLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedUtc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedUtc)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.AlgorithmId }) |
                @Html.ActionLink("Details", "Details", new { id = item.AlgorithmId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.AlgorithmId })
            </td>
        </tr>
    }

</table>
